flows.json
[
    {
        "id": "58b15160f8b9c29f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e99a018d1fcf070",
        "type": "debug",
        "z": "58b15160f8b9c29f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 220,
        "wires": []
    },
    {
        "id": "c2feb1f42e7382ea",
        "type": "mqtt in",
        "z": "58b15160f8b9c29f",
        "name": "",
        "topic": "iot/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0b4a53b0d4b27b80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 140,
        "wires": [
            [
                "146118f6cba7c652"
            ]
        ]
    },
    {
        "id": "146118f6cba7c652",
        "type": "function",
        "z": "58b15160f8b9c29f",
        "name": "function 1",
        "func": "msg.payload.sensor_id=msg.topic.split('/')[1]\nmsg.topic = \"INSERT INTO `mediciones` (`sensor_id`, `temperatura`, `humedad`) VALUES (:sensor_id, :temperatura, :humedad);\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "9fa217af0d90bc63"
            ]
        ]
    },
    {
        "id": "9fa217af0d90bc63",
        "type": "mysql",
        "z": "58b15160f8b9c29f",
        "mydb": "2079a58121b15e13",
        "name": "mariaDb",
        "x": 640,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "a8b0088be271ecd2",
        "type": "mqtt out",
        "z": "58b15160f8b9c29f",
        "name": "comando",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0b4a53b0d4b27b80",
        "x": 500,
        "y": 360,
        "wires": []
    },
    {
        "id": "bd838ec031e89cac",
        "type": "inject",
        "z": "58b15160f8b9c29f",
        "name": "apagar",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "iot/c8f09e5323f4/comando",
        "payload": "apagar",
        "payloadType": "str",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "a8b0088be271ecd2"
            ]
        ]
    },
    {
        "id": "2dda8cfd601470f4",
        "type": "inject",
        "z": "58b15160f8b9c29f",
        "name": "encender",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "iot/c8f09e5323f4/comando",
        "payload": "encender",
        "payloadType": "str",
        "x": 260,
        "y": 400,
        "wires": [
            [
                "a8b0088be271ecd2"
            ]
        ]
    },
    {
        "id": "aa1acc6d4c510268",
        "type": "ui_switch",
        "z": "58b15160f8b9c29f",
        "name": "",
        "label": "Led remoto",
        "tooltip": "",
        "group": "f98aec20c916e41e",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "false",
        "topic": "iot/c8f09e5323f4/comando",
        "topicType": "str",
        "style": "",
        "onvalue": "encender",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "apagar",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 270,
        "y": 480,
        "wires": [
            [
                "a8b0088be271ecd2"
            ]
        ]
    },
    {
        "id": "895fae20f0c4cded",
        "type": "ui_gauge",
        "z": "58b15160f8b9c29f",
        "name": "",
        "group": "f98aec20c916e41e",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "20",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "26",
        "seg2": "29",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 220,
        "wires": []
    },
    {
        "id": "bd12343376650ab2",
        "type": "function",
        "z": "58b15160f8b9c29f",
        "name": "function 2",
        "func": "msg.topic=\"SELECT * FROM `mediciones` ORDER BY `mediciones`.`timestamp` DESC LIMIT 1;\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 220,
        "wires": [
            [
                "91635e3021b789c7"
            ]
        ]
    },
    {
        "id": "91635e3021b789c7",
        "type": "mysql",
        "z": "58b15160f8b9c29f",
        "mydb": "2079a58121b15e13",
        "name": "mariadb",
        "x": 640,
        "y": 220,
        "wires": [
            [
                "03a81b080ea26e44",
                "a76c1b377622348a"
            ]
        ]
    },
    {
        "id": "03a81b080ea26e44",
        "type": "function",
        "z": "58b15160f8b9c29f",
        "name": "function 3",
        "func": "msg.payload = msg.payload[0].temperatura\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 220,
        "wires": [
            [
                "895fae20f0c4cded"
            ]
        ]
    },
    {
        "id": "a76c1b377622348a",
        "type": "function",
        "z": "58b15160f8b9c29f",
        "name": "function 4",
        "func": "msg.payload = msg.payload[0].humedad\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 280,
        "wires": [
            [
                "0f8fba69385f162f"
            ]
        ]
    },
    {
        "id": "0f8fba69385f162f",
        "type": "ui_gauge",
        "z": "58b15160f8b9c29f",
        "name": "",
        "group": "2af35c729100d30f",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "%",
        "format": "{{value}}",
        "min": "10",
        "max": "100",
        "colors": [
            "#b30000",
            "#e6e600",
            "#3acb52"
        ],
        "seg1": "20",
        "seg2": "60",
        "diff": false,
        "className": "",
        "x": 1060,
        "y": 280,
        "wires": []
    },
    {
        "id": "1149a535484b3376",
        "type": "inject",
        "z": "58b15160f8b9c29f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "60",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "bd12343376650ab2"
            ]
        ]
    },
    {
        "id": "36a66527006c9dc9",
        "type": "ui_led",
        "z": "58b15160f8b9c29f",
        "order": 1,
        "group": "2af35c729100d30f",
        "width": 0,
        "height": 0,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 630,
        "y": 80,
        "wires": []
    },
    {
        "id": "dedf5c92c95f1c9c",
        "type": "mqtt in",
        "z": "58b15160f8b9c29f",
        "name": "led",
        "topic": "iot/c8f09e5323f4/led",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "0b4a53b0d4b27b80",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 80,
        "wires": [
            [
                "ae841aaec7a25932"
            ]
        ]
    },
    {
        "id": "ae841aaec7a25932",
        "type": "function",
        "z": "58b15160f8b9c29f",
        "name": "function 5",
        "func": "msg.payload = msg.payload.led\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 80,
        "wires": [
            [
                "36a66527006c9dc9"
            ]
        ]
    },
    {
        "id": "f3cd1fcba73d2588",
        "type": "ui_spacer",
        "z": "58b15160f8b9c29f",
        "name": "spacer",
        "group": "f98aec20c916e41e",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "c614d41b3908aca5",
        "type": "ui_spacer",
        "z": "58b15160f8b9c29f",
        "name": "spacer",
        "group": "2af35c729100d30f",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "0b4a53b0d4b27b80",
        "type": "mqtt-broker",
        "name": "broker",
        "broker": "192.168.0.155",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2079a58121b15e13",
        "type": "MySQLdatabase",
        "name": "",
        "host": "${MARIADB_SERVER}",
        "port": "3306",
        "db": "${MARIADB_DB}",
        "tz": "-03:00",
        "charset": "UTF8"
    },
    {
        "id": "f98aec20c916e41e",
        "type": "ui_group",
        "name": "Default",
        "tab": "d65db7a88c7ca875",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2af35c729100d30f",
        "type": "ui_group",
        "name": "Default2",
        "tab": "d65db7a88c7ca875",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d65db7a88c7ca875",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]